body{background-color:#FFF; margin:0 auto}

a{text-decoration:none; display:inline}

a, #menu, #menu a, th{font:700 10px Verdana,Georgia,"Times New Roman",Times,sans-serif}

input, select{font:11px Verdana,Georgia,"Times New Roman",Times,sans-serif}

hr{font:700 12px Verdana,Georgia,"Times New Roman",Times,sans-serif; color:#92B0FF}

#menu{color:#FFF; background:url('images/header_bg.gif'); height:24px; margin:5px 0}

#menu ul{line-height:normal; list-style:none; padding-top:5px; float:left; margin:0}

#menu li{display:inline}

#menu a{color:#FFF; text-decoration:none; display:block; margin-left:10px; float:left}

table, td, th{border:solid 1px #7198FD; border-collapse:collapse}

td{font:10px Verdana,Georgia,"Times New Roman",Times,sans-serif}



td, th, .foot, input, select, a{color:#000}

td, th{padding:0px 0px}

td.feedback {font: 10px Verdana, sans-serif;border-top:solid 1px #7198FD; border-bottom:solid 1px #7198FD}

thead{display:table-header-group}

tbody{display:table-row-group}
th.marks {font: 700 8px Verdana, sans-serif;border-top:solid 1px #7198FD; border-bottom:solid 1px #7198FD}
 td.marks {font: 8px Verdana, sans-serif;border-top:solid 1px #7198FD; border-bottom:solid 1px #7198FD}

.foot{font:700 11px Verdana,Georgia,"Times New Roman",Times,sans-serif; padding-top:3px; padding-bottom: 15px; border-top:solid 1px #7198FD; clear:both; text-align:center}

.ds_box{background-color:#FFF; position:absolute; border:solid 1px #7198FD; z-index:32767}

.ds_head{height:25px; color:#000; font:700 9px Verdana,Georgia,"Times New Roman",Times,sans-serif; text-align:center; letter-spacing:1px}

.ds_subhead{height:25px; color:#000; border:solid 1px #7198FD; font:700 9px Verdana,Georgia,"Times New Roman",Times,sans-serif; text-align:center; width:25px}

.ds_cell{color:#000; height:25px; text-align:center; font:9px Verdana,Georgia,"Times New Roman",Times,sans-serif; border:solid 1px #7198FD; cursor:pointer; padding:1px}

.ds_tbl, .ds_cell:hover{background-color:#FFF}