#center{
  text-align:center;
  
  
}
#position{
  float:center;
  
  
}
#position1{
  float:center;
  margin-left:500px;
}
#cycles{
  text-align:center;
}
a{
  text-decoration:none;
  color:#FFA500;
}
a:hover{
  color:#800080;
}


html{
  border:solid 1px #000000;
  margin:3px;
}
#suresh{
 text-align:center;
  
}