#center{
  text-align:center;
  
  
}
#position{
  position:relative;
  left:470px;
  
}
#position1{
  position:relative;
  left:450px;
  width:100x;
}
#cycles{
  text-align:center;
}
a{
  text-decoration:none;
  color:#FFA500;
}
a:hover{
  color:#800080;
}

#suresh{
 position: absolute;
  left:600px;
}
html{
  border:solid 1px #000000;
  margin:3px;
}